### **Write a code to create a string with your name and print it**

In [ ]:
name = "Your Name"
print(name)

### **Write a code to find the length of the string "Hello World"**

In [ ]:
text = "Hello World"
print(len(text))

### **Write a code to slice the first 3 characters from the string "Python Programming"**

In [ ]:
text = "Python Programming"
print(text[:3])

### **Write a code to convert the string "hello" to uppercase**

In [ ]:
print("hello".upper())

### **Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
text = "I like apple"
print(text.replace("apple", "orange"))

### **Write a code to create a list with numbers 1 to 5 and print it**

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

### **Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

### **Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

### **Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

### **Write a code to reverse the list [10, 20, 30, 40, 50]**

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

### **Write a code to create a tuple with the elements 100, 200, 300 and print it**

In [ ]:
tpl = (100, 200, 300)
print(tpl)

### **Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [ ]:
tpl = ('red', 'green', 'blue', 'yellow')
print(tpl[-2])

### **Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [ ]:
tpl = (10, 20, 5, 15)
print(min(tpl))

### **Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [ ]:
tpl = ('dog', 'cat', 'rabbit')
print(tpl.index("cat"))

### **Write a code to create a tuple containing three different fruits and check if "kiwi" is in it**

In [ ]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

### **Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [ ]:
s = {"a", "b", "c"}
print(s)

### **Write a code to clear all elements from the set {1, 2, 3, 4, 5}**

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

### **Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

### **Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

### **Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

### **Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [ ]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

### **Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [ ]:
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

### **Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [ ]:
person = {"name": "Alice", "age": 30}
print(person["name"])

### **Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [ ]:
person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

### **Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [ ]:
person = {"name": "Alice", "city": "Paris"}
print("city" in person)

### **Write a code to create a list, a tuple, and a dictionary, and print them all**

In [ ]:
lst = [1, 2, 3]
tpl = (1, 2, 3)
dct = {"a": 1, "b": 2}
print(lst)
print(tpl)
print(dct)

### **Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result**

In [ ]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

### **Write a code to create a list with strings and print the element at the third index**

In [ ]:
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

### **Write a code to combine two dictionaries into one and print the result**

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

### **Write a code to convert a list of strings into a set**

In [ ]:
lst = ["apple", "banana", "apple", "orange"]
unique_set = set(lst)
print(unique_set)